.Header--Container {
  display: flex;
  background-color: var(--accent--color);
  width: 100%;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
}

.Header--Container__ProfileButton {
  border-radius: 9999px;
}

.Header--Container__ProfileButton button {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.Header--Container__Search {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
}

.Header--Container__Search input {

}

.Header--Container__Search button {
  background-color: #EBEBEB;
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}