.menu-screen {
  padding: 16px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border-radius: 20px;
  overflow: hidden;
  min-height: 190px;
  width: 100%;
  height: 300px; 
}

.product-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
  display: flex;
  max-width: 100%;
  height: 150px; 
  object-fit: cover;
}

.product--description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  gap: 20px;
  flex-grow: 1; 
}

.product--description h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px; 
}

.product--description p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px; 
}

.cart-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-controls button {
  cursor: pointer;
  align-items: center;
}

.cart-controls span {
  font-weight: bold;
}

.product--buy--button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent--color);
  color: #fff;
  padding: 8px 20px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.product--buy--button__remove {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--second--accent--color);
  color: #fff;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 14px;
}

.product--buy--button__remove p {
  color: #fff;
  opacity: 60%;
  font-size: 10px;
}

.total-price {
  margin-top: 20px;
  font-size: 1.2em;
}
.Total--Order button {
  background-color: var(--second--accent--color);
  color: #fff;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .product-list {
    grid-template-columns: 1fr;
  }

  .product-card {
    flex-direction: row;
    min-height: auto;
    border-radius: 10px;
    height: 150px; 
  }

  .product-image {
    width: 120px;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }

  .product--description {
    width: calc(100% - 120px);
    padding: 10px;
    gap: 10px;
  }

  .product--description h3 {
    font-size: 16px;
  }

  .product--description p {
    font-size: 14px;
  }

  .cart-controls button {
    padding: 5px 10px;
    font-size: 14px;
  }

  .product--buy--button {
    padding: 5px 10px;
    height: 50px;
  }

  .product--buy--button__remove {
    padding: 5px 10px;
    font-size: 14px;
    height: 50px;
  }

  .product--buy--button__remove p {
    font-size: 10px;
  }

  .total-price {
    font-size: 1em;
  }
}